.App {
  min-height: 100%;
  min-width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  height: 4vh;
  background-color: #000401;
}

.header b {
  font-size: calc(10px + 1vmin);
  color: #E5E8E8;
}

.header a {
  font-size: calc(10px + 1vmin);
}

.header-container {
  height: 100%;
}

.footer-container {
  height: 100%;
}

.header button {
  width: 2.75rem;
  height: 2rem;
}

.articleList {
  height: 92vh;
  background-color:  #181818;
  display: flow-root;
}

.article_preview {
  width: 50%;
  margin: 20px 10px 40px 10px;
  border-radius: 10px;
}

.article_preview h3 {
  font-size: 2.75rem;
  color: #FACD3D;
  font-family: Montserrat, sans-serif;
}

.article_preview a {
  color: #E5E8E8;
}

.article_preview a:hover {
  color: #FACD3D;
}

.article_preview small {
  color: #E5E8E8;
  font-family: sans-serif;
}

.article_preview p {
  color: #E5E8E8;
  font-family: sans-serif;
}

.article_detail_container {
  min-height: 92vh;
  background-color:  #181818;
  color: #E5E8E8
}

.article_detail {
  width: 50%;
  font-family: sans-serif;
}

.article_detail > *:first-child  {
  padding-top: 2rem;
  font-family: Montserrat, sans-serif;
}

.article_detail > *:last-child  {
  margin-bottom: 0rem;
  padding-bottom: 2rem;
}

.footer {
  height: 4vh;
  background-color:  #000401;
  width: 100%;
  font-size: calc(10px + 0.3vmin);
  color: #E5E8E8
}

.footer a {
  font-family: sans-serif;
  font-size: calc(10px + 1vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}